<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>header</title>
</head>

<body>
  <header class="wedding-header">
    <div class="header-top">
      <time>2018.06.20 13:27</time>
      <h1>适缘婚礼管理系统</h1>
    </div>
    <div class="header-bottom">
      <ul class="weeding-skip">
        <li><a>会员</a></li>
        <li><a>订单</a></li>
        <li><a>道具</a></li>
        <li><a>视频</a></li>
      </ul>
    </div>
  </header>
</body>

</html>