<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/bootstrap-3.3.7/dist/dist/css/bootstrap.min.css">
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script src="../static/layui/layui.js"></script>
  <title>Document</title>
</head>

<body>
  <header></header>
  <main></main>
</body>
<script>
  $('header').load('head.html')
  $('main').load('vip/vip.html')
</script>

</html>