<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>media</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">

  <link rel="stylesheet" href="../static/bootstrap-3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/media.css">
  <script src='../static/js/jquery-3.3.1.min.js'></script>
  <script src="../static/layui/layui.js"></script>
  <script src='../static/bootstrap-3.3.7/dist/js/bootstrap.min.js'></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">
        <!-- search -->
        <div class="input-group">
          <span class=" glyphicon glyphicon-search"></span>
          <input type="text" onkeydown="onKeyDown(event)" placeholder="搜索" id='sreach' />
        </div>
      </div>
      <!-- date -->
      <div class="col-sm-4">
        <div class="time-choose">
          <span>创建时间:</span>
          <div class="input-time">
            <span id="datetime">请选择日期</span>
            <span class='glyphicon glyphicon-list-alt' id='date'></span>
          </div>
          <span>至</span>
          <div class="input-time">
            <span id="datetime">请选择日期</span>
            <span class='glyphicon glyphicon-list-alt' id='date'></span>
          </div>

        </div>
      </div>
      <!-- shoose -->
      <div class="col-sm-2">
        <button class='btn btn-primary' id='select'>查询</button>
        <input type="file" style='display: none;'>
        <button class='btn btn-primary' id='git'>上传</button>
        <button class='btn btn-primary' id='del'>删除</button>
      </div>
    </div>
    <!-- del-pop-up -->
    <div class="row">
      <ul class='media'>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
        <li><img src="../static/images/media.jpg" alt=""><span>李国栋 2017.10.01</span></li>
      </ul>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">确定删除？</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id='readydel' data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../static/js/media.js"></script>
<script>
  layui.use('laydate', function () {
    var laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
      elem: '#datetime' //指定元素
    });
  });
  layui.use('upload', function () {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
      elem: '#git' //绑定元素
      , url: '/upload/' //上传接口
      , done: function (res) {
        //上传完毕回调
      }
      , error: function () {
        //请求异常回调
      }
    });
  });
</script>

</html>